<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment (title='Home')"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid">
		<h2>Selamat Datang!</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<b>Tambah Dealer</b>
					</div>
					<div class="card-body">
						<p class="card-text">Fitur Untuk Menambah Dealer.</p>
						<a class="btn btn-primary" th:href="@{/dealer/add}">Tambah</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<b>Cari Dealer Berdasarkan Id</b>
					</div>
					<form th:action="@{/dealer/view}" method="GET">
						<div class="card-body">
							<label for="dealerId">Id Dealer:</label>
							<input type="text" name="dealerId" class="form-control" />
							<br>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<br>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<b>Lihat Semua Dealer</b>
						</div>
						<div class="card-body">
							<p class="card-text">Fitur Untuk Melihat Semua Dealer.</p>
							<a class="btn btn-primary" th:href="@{/dealer/viewall}">View All Dealer</a>
						</div>
					</div>
				</div>
			</div>
	
</body>
</html>