<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>		

	<title th:replace="fragments/fragment :: headerFragment (title='View Satu Dealer')"></title>
		
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h3 th:text="'Dealer'"></h3>
	<p th:text="'Alamat : ' + ${dealer.alamat}"></p>
	<p th:text="'Telepon : ' + ${dealer.noTelp}"></p>
	
	<form th:action="@{/dealer/delete/} + ${dealer.id}">
		<button type="submit">Hapus Dealer</button>
	</form>
	
	
	<br>
	
	<form th:action="@{/car/delete}" th:object="${dealer}" method="POST">
		<table>
			<thead>
				<tr>
					<th text>Nomor</th>
					<th>Id</th>
					<th>Brand</th>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
					<th>Aksi</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="car, iterationStatus : *{listCar}">
					<td align="center" th:text="${iterationStatus.count}"></td> 
					<td align="center" th:text="${car.id}"></td> 
					<td align="center" th:text="${car.brand}"></td>
					<td align="center" th:text="${car.type}"></td>
					<td align="center" th:text="${car.price} >= 1000000000 ? 'Diatas 1M' : 'Dibawah 1M'"></td>
					<td align="center" th:text="${car.amount}"></td>
					<td align="center">
						<input type="checkbox" th:field="*{listCar}" th:value="${car.id}" />
						<label th:for="${#ids.prev('listCar')}">Hapus</label>	
					</td>
				</tr>
			</tbody>
		</table>
	
	<button type="submit">Hapus yang dipilih</button>
	</form>
	
	<br>
	
	<form th:action="@{/car/add/} + ${dealer.id}">
		<button value="submit">Tambah Mobil</button>
	</form>
	
	
	
</body>

</html>